{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
{% if category %}
    {{category.description | truncatewords:153 }}
{% else %}
    Welcome to E-Bin store, Where you can buy different trends
{% endif %}
{% endblock %}
{% block title %}
{% if category %}
    {{category.name }} - E-Bin Store
{% else %}
    See our new collection - E-Bin Store
{% endif %}
{% endblock %}
{% block content %}
{% if category %}
    <div class="row my_row_class">
        <div class="mx-auto">
            <p><a href="{% url 'ecommerce_app:allProdCat' %}">Our Product Collection</a></p>
        </div>
    </div>
{% endif %}
<div class="mx-auto">
    {% if category %}
    <img class="my_image" src="{{ category.image.url }}" alt="{{ category.name }}">
</div>
<br>
<div>
    <h1 class="my_title text-center">{{category.name }}</h1>
    <p class="text-justify">{{category.description}}</p>
</div>
{% else %}
<div>
    <img src="{% static 'img/banner.png' %}" alt="Our Products" style="margin-top:15px;" width="100%">
</div>
<br>
<div>
    <h1 class="text-center">Our Products Collection</h1>
    <p class="text-justify">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
</div>
{% endif %}

<div class="container">
    <div class="row mx-auto">

            {% for product in product.object_list %}
        <div class="my-bottom-margin col-9 col-sm-12 col-md-4 col-lg-4 col-md-auto">
                <div class="card" style="width: 18rem;">
                  <a href="{{product.get_url}}"><img class="card-img-top" src="{{product.image.url}}" alt="{{product.name}}" style="max-height:230px;"></a>
                  <div class="card-body">

                    <p class="card-text">{{product.name | truncatewords:9 }}</p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item"><b>{{product.price}}</b></li>
                  </ul>
                </div>
            </div>
            {% endfor %}

    </div>
    <div class="mx-auto">
        {% if product.paginator.num_pages > 1 %}
        <div class="text-center">
        {% for pg in product.paginator.page_range %}
            <a href="?page={{pg}}" class="btn btn-light btn-sm {% if product.number == pg %} active {% endif %}" > {{ pg }}</a>
        {% endfor %}
        </div>
        {% endif %}
    </div>
</div>










<!--<div class="container">-->
<!--    <div class="row mx-auto">-->
<!--        <div class="my-bottom-margin col-9 col-sm-12 col-md-4 col-lg-4">-->
<!--        {% for product in product %}-->
<!--        <div class="card shadow text-center" style="min-width:10rem;">-->
<!--            <a href="{{product.get_url}}">-->
<!--                <img class="card-image" src="{{product.image.url}}" alt="{{product.name}}">-->
<!--            </a>-->
<!--        <div class="card-body">-->

<!--                <h4>{{product.name}}</h4>-->
<!--                <p>{{product.price}}</p>-->

<!--             </div>-->

<!--            </div>-->
<!--            <br>-->
<!--            {% endfor %}-->
<!--         </div>-->

<!--    </div>-->
<!--</div>-->

{% endblock %}
