{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
    {{product.description | truncatewords:153 }}
{% endblock %}
{% block title %}
    {{product.name }} - E-Bin Store
{% endblock %}
{% block content %}
<div>
    <div>
        <p><a href="{% url 'ecommerce_app:allProdCat' %}">Home</a> | <a href="{{product.category.get_url}}">{{ product.category }}</a> {{ product.name }} </p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="card mb-3" >
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{product.image.url}}" alt="{{product.name}}" style="width:80%;padding-top:30px;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title">{{ product.name }}</h2>
               <br>
          <p><b>Product Description:</b></p>
        <p class="card-text">{{product.description}}</p>
          <h3>Price:{{product.price}}</h3>
          <br>
        <p class="card-text"><small class="text-muted">
            {% if product.stock <= 0 %}
            <b>Out of Stock</b>
            {% else %}
            <a href="{% url 'cart:add_cart' product.id %}" class="btn btn-primary"> Add to Cart</a>
            {% endif %}
        </small></p>
      </div>
    </div>
  </div>
</div>
</div>
</div>








<!--<div class="container">-->
<!--    <div class="row">-->
<!--        <div>-->
<!--            <img src="{{product.image.url}}" alt="{{product.name}}">-->
<!--        </div>-->
<!--    </div>-->
<!--    <div>-->
<!--        <div>-->
<!--            <h1>{{product.name}}</h1>-->
<!--            <p>Price:{{product.price}}</p>-->
<!--            <p> Product Description</p>-->
<!--            <p>{{product.description}}</p>-->
<!--            {% if product.stock <= 0 %}-->
<!--            <p><b>Out of Stock</b></p>-->
<!--            {% else %}-->
<!--            <a href=""> Add to Cart</a>-->
<!--            {% endif %}-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
{% endblock %}